[submodule "base/munin-php-apc"]
	path = base/munin-php-apc
	url = https://github.com/vivid-planet/munin-php-apc.git
[submodule "base/elasticsearch-munin"]
	path = base/elasticsearch-munin
	url = https://github.com/PeerJ/elasticsearch-munin.git
[submodule "base/munin-monitoring"]
	path = base/munin-monitoring
	url = https://github.com/munin-monitoring/contrib.git
[submodule "base/munin"]
	path = base/munin
	url = https://github.com/PeerJ/munin.git
[submodule "base/aws"]
	path = base/aws
	url = https://github.com/timkay/aws.git
[submodule "icinga/nagios-check-redis"]
	path = icinga/nagios-check-redis
	url = https://github.com/shift/nagios-check-redis.git
[submodule "icinga/check-es"]
	path = icinga/check-es
	url = https://github.com/radu-gheorghe/check-es.git
[submodule "icinga/pynagioscheck"]
	path = icinga/pynagioscheck
	url = https://github.com/saj/pynagioscheck
[submodule "icinga/nagios-plugin-elasticsearch"]
	path = icinga/nagios-plugin-elasticsearch
	url = https://github.com/anchor/nagios-plugin-elasticsearch
[submodule "icinga/nagios-plugins"]
	path = icinga/nagios-plugins
	url = https://github.com/PeerJ/nagios-plugins
[submodule "redis/redis-commander"]
	path = redis/redis-commander
	url = https://github.com/PeerJ/redis-commander.git
[submodule "varnish/libvmod-curl"]
	path = varnish/libvmod-curl
	url = https://github.com/varnish/libvmod-curl.git
[submodule "varnish/libvmod-digest"]
	path = varnish/libvmod-digest
	url = https://github.com/varnish/libvmod-digest.git
[submodule "varnish/libvmod-statsd"]
	path = varnish/libvmod-statsd
	url = https://github.com/jib/libvmod-statsd.git
[submodule "varnish/libvmod-timers"]
	path = varnish/libvmod-timers
	url = https://github.com/jib/libvmod-timers.git
[submodule "icinga/cloudfuse"]
	path = icinga/cloudfuse
	url = https://github.com/redbo/cloudfuse.git
[submodule "base/check-mk-agent-plugins"]
	path = base/check-mk-agent-plugins
	url = https://github.com/PeerJ/check-mk-agent-plugins.git
[submodule "icinga/check_json"]
	path = icinga/check_json
	url = https://github.com/PeerJ/check_json.git
[submodule "icinga/RedisDB"]
	path = icinga/RedisDB
	url = https://github.com/trinitum/RedisDB
[submodule "icinga/RedisDB-Parser"]
	path = icinga/RedisDB-Parser
	url = https://github.com/trinitum/perl-RedisDB-Parser
[submodule "icinga/check_elasticsearch"]
	path = icinga/check_elasticsearch
	url = https://github.com/PeerJ/check_elasticsearch.git
[submodule "php/VariableAnalysis"]
	path = php/VariableAnalysis
	url = https://github.com/illusori/PHP_Codesniffer-VariableAnalysis.git
[submodule "php/Symfony2"]
	path = php/Symfony2
	url = https://github.com/PeerJ/Symfony2-coding-standard.git
[submodule "icinga/check_jstat"]
	path = icinga/check_jstat
	url = https://github.com/PeerJ/check_jstat.git
